a {
    color: cadetblue;
}

a:hover {
    color: skyblue;
}

#header{
    z-index:1;
    width:100%;
    background-color: #000d9b;
    color:whitesmoke;
    border:ridge; 
    flex-direction:row;
    flex-wrap:wrap;
    font-size:large;
    display:block;
    position:relative;
    height:25%;
    padding:3%;
    border-color: whitesmoke;
}

.stretch{
    width:100%;
}