a {
    color: #5b87cf;
    font-size: 155%;
    font-style: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

a:hover {
    color: skyblue;
}

.navbar {
    z-index:1;
    background-color: #174999;
    color:whitesmoke;
    border:ridge; 
    flex-direction:row;
    flex-wrap:wrap;
    display:block;
    position:relative;
    border-color: whitesmoke;
    text-align: center;
}

.left-textblock {
    background-color: #174999;
    color:whitesmoke;
    border:ridge;
    flex-direction:row;
    flex-wrap:wrap;
    text-align: left;
    margin-right: 45%;
    margin-top: 10px;
    font-size: large;
}

.right-textblock {
    background-color: #174999;
    color:whitesmoke;
    border:ridge;
    flex-direction:row;
    flex-wrap:wrap;
    text-align: right;
    margin-left: 45%;
    margin-top: 10px;
    font-size: large;
}

.center-textblock {
    background-color: #174999;
    color:whitesmoke;
    border:ridge;
    flex-direction:row;
    flex-wrap:wrap;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10px;
    font-size: large;
}

.title {
    background-color: #174999;
    color:whitesmoke;
    border:ridge;
    flex-direction:row;
    flex-wrap:wrap;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

html {
    font-family:Georgia, 'Times New Roman', Times, serif
}

#leftimage {
    width:12.5%;
    height:10%;
    float: left;
}

#centerimage {
    float: center;
    margin-right: 25%;
    margin-left: 25%;
    width: 220%;
    height: 220%;
}

#leftimage2 {
    margin-right: 10%;
    margin-bottom: 15%;
    width:25%;
    height:10%;
    float:right;
}