a {
    color: #5b87cf;
    font-size: 155%;
    font-style: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

a:hover {
    color: skyblue;
}

.header {
    z-index:1;
    background-color: #174999;
    color:whitesmoke;
    border:ridge; 
    flex-direction:row;
    flex-wrap:wrap;
    display:block;
    position:relative;
    border-color: whitesmoke;
    text-align: center;
}

.textblock {
    background-color: #174999;
    color:whitesmoke;
    border:ridge;
    flex-direction:row;
    flex-wrap:wrap;
    text-align: left;
    margin-right: 45%;
    margin-top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif
}